{% capture footer_contents %}
  Powered by Jekyll with al-folio theme. Hosted by GitHub Pages. Last updated {{ site.time | date: '%B %Y' }}.
{% endcapture %}

{% if site.footer_fixed %}
  <footer class="fixed-bottom" role="contentinfo">
    <div class="container mt-0">
      {% include contact-icons.liquid class="contact-icons--footer" show_resume=true %}
      <div class="footer-text">{{ footer_contents }}</div>
    </div>
  </footer>
{% else %}
  <footer class="sticky-bottom mt-5" role="contentinfo">
    {% if site.newsletter.enabled %}
      {% include newsletter.liquid %}
    {% endif %}

    <div class="container">
      {% include contact-icons.liquid class="contact-icons--footer" show_resume=true %}
      <div class="footer-text">{{ footer_contents }}</div>
    </div>
  </footer>
{% endif %}
